/*
Syntax error: @content may only be used within a mixin.
        on line 16 of sass/_mixins.sass
        from line 2 of sass/main.sass

11:   align-items: center
12:   justify-content: center
13: 
14: +keyframes($name)
15:   @-webkit-keyframes #{$name}
16:     @content
17:   @keyframes #{$name}
18:     @content
19: 
20: +animate($animationName, $time)
21:   -webkit-animation: $animationName $time

Backtrace:
sass/_mixins.sass:16
sass/main.sass:2
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:38:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:38:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:40:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:24:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:296:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: @content may only be used within a mixin.\A         on line 16 of sass/_mixins.sass\A         from line 2 of sass/main.sass\A \A 11:   align-items: center\A 12:   justify-content: center\A 13: \A 14: +keyframes($name)\A 15:   @-webkit-keyframes #{$name}\A 16:     @content\A 17:   @keyframes #{$name}\A 18:     @content\A 19: \A 20: +animate($animationName, $time)\A 21:   -webkit-animation: $animationName $time"; }
