.feature
  @extend .row
  background: $white
  border-radius: $border-radius-base
  margin-bottom: 20px
  padding: 20px

.feature--on
  @extend .feature
  .feature__title

.feature--off
  @extend .feature
  opacity: 0.8
  .feature__title
    color: $gray

.feature__title
  @extend .col-md-8

.feature__switch
  @extend .col-md-4
  > *
    float: right

.feature--new
  margin-bottom: 25px
  position: relative
  &:before
    border-top: 1px solid darken($gray-lighter, 10%)
    content: ''
    left: 0
    position: absolute
    top: 17px
    width: 100%
    z-index: 0
  > button
    background-color: darken($gray-lighter, 10%)
    display: block
    margin: 0 auto
    position: relative
    transition: background-color 0.2s
    z-index: 1
    &:hover
      background-color: darken($gray-lighter, 15%)
    &:focus, &:active, &:focus:active
      outline: none