.block {
  padding: 10px;
}

.indicator {
  line-height: 90px;
  font-size: 50px;
}

.indicator-on {
  color: #468847;
}

.indicator-off {
  color: #b94a48;
}

.indicator-logic {
  color: #f89406;
}

.yoda {
  bottom: 0px;
  float: right;
}

.modal {
  width: 83%;
  margin-left: -41%;
}

.ruled {
  border-bottom: 1px solid #333333;
}