.block ul {
  list-style-type: none;
  padding-left: 20px;
}

.block {
  padding: 10px;
}

.container {
  overflow-y: auto;
  height: 300px;
}

.indicator {
  line-height: 90px;
  font-size: 50px;
}

.indicator-on {
  color: #468847;
}

.indicator-off {
  color: #b94a48;
}

.indicator-logic {
  color: #f89406;
}

.yoda {
  bottom: 0px;
  float: right;
}

.quote {
  float: right;
  padding: 50px;
  font-size: 20px;
  width: 400px;
}

.modal-huge {
  width: 83%;
  margin-left: -41%;
}

.ruled {
  border-bottom: 1px solid #333333;
}

.details textarea {
  width: 100%;
}